<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Clover.SoundDevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAAbAwoYAOs/AKkG2NtBpJFUBf7vRsMAAAAAf/8EAA==
	</data>
	<key>Clover.SoundIndex</key>
	<data>
	AA==
	</data>
	<key>Clover.SoundVolume</key>
	<data>
	ZA==
	</data>
	<key>EFILoginHiDPI</key>
	<data>
	AAAAAA==
	</data>
	<key>EmuVariableUefiPresent</key>
	<data>
	WWVz
	</data>
	<key>SystemAudioVolume</key>
	<data>
	Vw==
	</data>
	<key>SystemAudioVolumeDB</key>
	<data>
	AA==
	</data>
	<key>aapl,panic-info</key>
	<data>
	8LA7PUaN4XXQDDQOs9llOQiGN5vNZrMZB5ORabcb7hZO6UCiIJ1ebsPpafcZRH+D2O/3
	ug5/meXlMoiOLoPaaTKZXQa9zaAwaB1ms9/jU5kMKrPL7bKbHgKh2mG4DgTDm81ms9mM
	g81qMFo5J4OxQGEyWa4DwfBms9lsNuNksdytNiPLcCxQ2U2X53UgGN5sNpvNZhysBrPJ
	crgxLMV1i4AvYT3NJkvfb/qLmRbLw/L8axgeo8vz1/jddoXhcHbZhRfPX9N3XT4uz194
	d/2Fd9dbtNoN5rrFXLLXe25ur1/rstz9WofZ7PfYNdbRajiFMDxe0+XhcRmEGkKroFmK
	BTLKw+0ySAeSlul1uRsUJJPl5flcAcObzWaz2YyTxXK32ix3g4F0IBjebDabzWYcTEam
	2caxsQ2kgOHNZrPZbMbJYrlbbZYbw0A6EAxvNpvNZjMOJiPXcjXZjQZSwPBms9lsNuNk
	sdytNgvDYCAdCIY3m81msxkHk5FruFuNRgMpYHiz2Ww2m3GyWO5Wm4VvMJAOBMObzWaz
	2YyDyci0WDlWhoEUMLzZbDabzThZLHerzcI5GEgHguHNZrPZbMbBZGSaTTyejUEKGN5s
	NpvNZpwslrvVZuIxDKQDwfBms9lsNuNgMjLNJs6ZxyAFDG82m81mM04Wy91qs7EMBtKB
	YHiz2Ww2m3EwGZl2u+FuYZAChjebzWazGSeL5W612bgGA+lAMLzZbDabzTiYjEy73W5l
	GEgBw5vNZrPZjJPFcrfabHyDgXQgGN5sNpvNZhxMRg7PYuNyGaSA4c1ms9lsxsliuVtt
	Ns7BQDoQDG82m81mMw4mI4dzYbINB1LA8Gaz2Ww242Sx3K02I8NgIB0IhjebzWaz+WYO
	l2Ni23hGBilgeLPZbDabcbJY7labkXEwkA4Ew5vNZrPZfDOHyzFxrYabgRQwvNlsNpvN
	OFksd6vNyjQYSAeC4c1ms9lsxsFk5PBtFjOTQQoY3mw2m81mnCyWu9VmZRwMpAPB8Gaz
	2Ww242AycvgmM9NiIAUMbzabzWYzThbL3WozMwwG0oFgeLPZbDabcTAZOXyT0Ww3kAKG
	N5vNZrMZJ4vlbrWZuQYD6UAwvNlsNpvNOJiMHL7RYGMbSAHDm81ms9mMk8Vyt9rMHIaB
	dCAY3mw2m81mHExGpsXItdoNpACBQCAQaFmWu8tsUBFPL7vn6bd7Dkq7QeLweE2Xh8dl
	nQIEAoFAIBAI9JafXfIyOixuh90u+/tNfr9dZHnaXpa7oFPZspwXv8NyMirmwrlittQ2
	F8PRjDDhrEWc5WKtWSxmawmNQ1yrZpvFcLKbsFa73bpAGN5sNpvN5ps5XI6JZzAYrOWD
	4c1ms9lsvpnD5Zg4bDabFSAQCAQCgUAgEAhELsPLbnLZPc7rQON32xWGw9llV/q9TtNd
	yScySTSG22l2HiVzwVyw1JYmGxJtNqKxVZvRhq0ZjnhrBW8zYotICwZvM9pMBosRu0AY
	3mw2m83mmzlchpXNMBhMAQKBQCAQCAQCgUDkMrzsJpfd47wONH63XWE4nF12pd/rNN2V
	fErL8Lecbgy30+w8ahZLbYkyo8woJBpbtGKR1prhhMFWLmestYS2XM6Iw9mMtNisC4Th
	zWaz2Wy+mcPlGA4Gg8EUIBAIBAKBQCAQCEQuw8tuctk9zutAb/nZJS+jw+J22O2yv9/k
	99tFlqftZbkLOpUN3266/M1ml+WomAvnitlS22CwGJzhargWTXi7tWZDoawllA1lLWNu
	ZrTBhjMjUTjrAmF4s9lsNptv5nA5loPBYDCFQjglguDy97g8n4Pc4XYZNH7L5eU5/O0m
	p91nEP0NGtfl8rKbDqKj5eUwWQdal+XuMvtLD8/XCuH7TQeF5ee5DtTCj+FtUMsOauEV
	imZ4DHpOQfayfJ5+u3UK55sOypfpoHmZrlAsy3J3mQ2yl+Xz9NutUxDD8nvaDVqW5e4y
	G2Qty+fptxsUu7luLpgOREXXQcq6GySLgWQyXW2mi9FAUCIVJIPFcDuQ/P2m6/DueotW
	u8Fct5hL5o+9pEVmMTgtfrE429dGUyzLcneZDapWk0QdKBYs1oJDI7E1E9qMrRnxRmsF
	iTVZaxYzxmgzGFE4tBkVy7LcXWaD5uw0uawDgUAgEAwPg8FgMBgMJiPLYDAYDKZYluXu
	MhtEL+PpIHF4XtaBYHiz2Ww2m3EwGZkGg8FgMMX3i0wKQSB6GU8HicPzsg4Ew5vNZrPZ
	jIPJyDMYDAaDKab5Ob3cBrXf5DIb5A63yzpQMzwWvt9rqPydY8lAqGZ43LIZYbGaLVaM
	2Ya3GhFmSykU0/ycXm6D6nB6ul0Gpd0gd9j9npfHbzd5rgPJaLUbTjaT1W4KdnhOB7Hf
	YXKZDFqX8XRQmA6SyWQzHGyGk8F0oLf87JKX0WFxO+x22d9v8vvtIsvT9rLcBZ3KluW8
	+B2WkxMxF84Vs4FQYTJZDoLhzWaz2Wy+mcPlmHgGg8FYoHlaXwbNZDcbLqVgv8PkMhm0
	LuPpc53iLT+75GV0WNwOu13295v8frvI8rS9LHdBp7JlOS9+h+XkRMyFc8VsCneZ7nrP
	8Tiba13G0+euY9ldlqfH1akQixwmEzGXzBWLKdxluus9l7/brnUZT3cR0/OwmF2WJ2Iu
	mCumGL/brrR7HnaX2fl2eOwKJZvh+jxdpKPLcneZnpC5ZC6Y4i0/u+RldFjcDrtd9veb
	/H67yPK0vSx3Qaey0DARc+FcMZsiPHfZ0/ScLWdzhYJB5jARc81cNsX43XbJy+iwuB12
	u8jytL0sd1WnwqRbXR7Tg2x2Aua6uWKK8bvtQqfLcDbcnoa7QkFheLxmp89oujGNr8MT
	MRfMJVOE5y57mp6z5WwuZppdT8RcMhdO8ZafXfIyOixuh90usjxtL8tdoeC0HZbThWE6
	vSzPN8Pu8LksT8RcNpjiLT+73GX6Ojx3keVpe1nuMobX5WlzmIjNcjQFMBQ0TofvNlxe
	ns/Tb7crFDROh+82XF6ez9NvNzUPLxPD9DC7PJ8nYi6YC0aOKYChoHE6fLfh8vJ8nn67
	XaGgcTp8t+Hy8nyefrupeXhZy06LEzEXzAVTAEPBaX5OL7ehb3Z6nE/EXDAFUPh+04fh
	MbqcoMEUQHOaXZ7n5/Rye+5Cm+eudRlPT9BgN1cN5rIpgOY0uzzPz+nl9twVhpvniRsN
	56rFXDCFLxQMIodJ6FtOT8xkOVcN5pIpfKGglDpMyFwwhS8UFIbHa3b6jKYnYjeYKyZz
	2RS+UBAJLVITMRdO4QsFg0NoUlin09/uecLmiil8oeC0KUw+pwmZK6bwhYLBITRZHCZs
	rpjCFwoGoclhIua6KXyhYCg5hFah73tZ3gy7w+dyu+ymD9npspuekMlgrhrMFVMA3euy
	KwyHs9PjMD39dpvT8vI9zGYnYriZghSvh+VhNz3tLidmChK1OQ2by/S8s0xP4BS+UDCU
	HEKr0Pe9LG+G3eFzuV120xMyGcxVg7liCqA5zS7P83N6uT13oc1zV9k9fpPT7vPctS7j
	6YmYwhcKYudh93SMLrfLiZmCn3wGkcOkkP0er0PTxAwWc9FgLpnCF6o2y/Jz2VkXJ3Iw
	mIvmiin4yWcQOUyGjAkZDqfw1ediV6haRA6T0GEyEXPJFL76XOwKVYvIYTIRc8kUvvpc
	7ApVschhEjpMJmIumcJXn4tdoSoWOUwmYi6Zwlefi12hKvI9p0PD43WZbkyz6WV5IuaC
	KfjJZ3UqDBkTORjMRXPFFL5QUBger9npM5pexMPLcnoi5oq5YAp+8ukkSq3TOhz+ltMT
	tVjOJYMp+MnnUR6Go9PjeciYqMVyLhlM4QsFi8ak0yoNNhMyV0zhC1WR7zm9WZafy1D5
	G16W09PleSLmkil8oWDRmJTW3fR0u5yQuWIKfvI5bQrr85AxEXPFFPzkE5kkhowJmQvm
	gilI87CbLH7jEzMYzAVTANdlPN0VCjbD9DE6EXPBXDByTOELBY3E4rKcn9Lf8nJChnPN
	YApfKFg0m8PjcljMLoemiZgLpvCFgstyfkp/y8sJmcIXqlKJzQRtlnPdYK6ZwhcKNt/i
	NLtsTLPLSTe9fJan6flEzAVz1RT85LM6FTbD83loSpSn7WV5IkaDuW4wl0zBTz6nw2lS
	yH6P18N3ux12k+fEsj09LidoMJprBnPJFPzkczqcJoPyMTpNL4/pdXm5+SaX2SFjggaj
	uWYwl0zhCwWH8jK57Kanw+xm2B0+l+WJmAum8C3LcneZLS2zw3nke05PxBT85LM6FSLf
	c3rImIi5ZApffS52harDd7v9didiLpjCFwoK63Po+16Wh4aJmAum8IWC0yK0GXaHz2V5
	IuaCuWIKX/I5ZYftZaj8PS7P5295IqbwEdPzdbIdPpfnCRoO5rLBXDEFP/kMTUPGhMwV
	U/CTT2q6XZ7m3eOQMWHDwVyxmoKffDrL9Ptbvk67zyFjYuaiKfjJp7QMf8vpIWNiFlP4
	QsHgEJqEssN081veTthcMYUvFJw2h4mZK+bKKfjJJ3SYDBkTMldOwU8+g0NoMmRMxFw0
	BXBdHrvgdLS8HCYnYgrgujx2jd/y8lieh9PfiZgLpgAAAA==
	</data>
	<key>backlight-level</key>
	<data>
	Cgc=
	</data>
	<key>boot-args</key>
	<string>kext-dev-mode=1 rootless=0</string>
	<key>csr-active-config</key>
	<data>
	ZwAAAA==
	</data>
	<key>fakesmc-key-#KEY-ui32</key>
	<data>
	AAAAEg==
	</data>
	<key>fakesmc-key-$Adr-ui32</key>
	<data>
	AAADAA==
	</data>
	<key>fakesmc-key-$Num-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BATP-flag</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-BBIN-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BEMB-flag</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-BNum-ui8</key>
	<data>
	AQ==
	</data>
	<key>fakesmc-key-EPCI-ui32</key>
	<data>
	BmAHAA==
	</data>
	<key>fakesmc-key-MSAc-ui16</key>
	<data>
	AAA=
	</data>
	<key>fakesmc-key-MSFW-ui8</key>
	<data>
	AQA=
	</data>
	<key>fakesmc-key-MSLD-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSPS-ui16</key>
	<data>
	AAM=
	</data>
	<key>fakesmc-key-MSTc-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-MSWr-ui8</key>
	<data>
	AA==
	</data>
	<key>fakesmc-key-RBr -ch8*</key>
	<data>
	YnJhbmNoAAA=
	</data>
	<key>fakesmc-key-REV -ch8*</key>
	<data>
	AgIPAABE
	</data>
	<key>fakesmc-key-RMde-char</key>
	<data>
	QQ==
	</data>
	<key>fakesmc-key-RPlt-ch8*</key>
	<data>
	ajMwAAAAAAA=
	</data>
	<key>flagstate</key>
	<data>
	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=
	</data>
	<key>fmm-computer-name</key>
	<data>
	RmxvcmlhbuKAmXMgTWFjQm9vayBQcm8=
	</data>
	<key>intel-backlight-level</key>
	<data>
	AAQAAA==
	</data>
	<key>prev-lang:kbd</key>
	<data>
	ZW46MA==
	</data>
	<key>security-mode</key>
	<string>none</string>
	<key>specialbootdevice</key>
	<data>
	AgEMANBBAwoAAAAAAQEGAAIfAxIKAAIAAAAAAAQBKgACAAAAKEAGAAAAAABApdgbAAAA
	ACHmT/juzmFNvgD1g/lO3EYCAn//BAA=
	</data>
</dict>
</plist>